.item {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: rgb(203, 170, 233);
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .container {
    display: flex;
    align-items: center;
  }
  .itemData {
    font-size: 15px;
    margin-left: 5px;
  }
}

.selected {
  background-color: rgb(166, 89, 238);
}
