.avatar {
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 1px 1px 10px;
}
